.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start/sidebar-end;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $bp-large) {
        grid-row: 1/2;
        grid-column: 1/-1;
        justify-content: flex-end;
        align-items: center;
    }
}

.nav-btn {
    width: 6rem;
    height: 2px;
    display: block;
    margin-top: 4rem;
    border: none;
    border-radius: 0;
    background-color: white;
    transition: all .2s ease-in-out;
    &::before,
    &::after {
        height: 2px;
        display: block;
        background-color: white;
        content: '';
    }
    &::before {
        transform: translateY(-1.2rem);
    }
    &::after {
        transform: translateY(1.2rem);
    }
    &:hover {
        cursor: pointer;
    }
    @media only screen and (max-width: $bp-large) {
        margin-top: 0;
        margin-right: 3rem;
        &::before {
            transform: translateY(-1rem);
        }
        &::after {
            transform: translateY(1rem);
        }
    }
}